{% extends "registration/base.html" %}
{% load bootstrap3 %}
{% block title %}DEMO{% endblock %}

{% block nav_user %}
  {% if user.is_authenticated %}
    <ul class="nav navbar-nav navbar-right">
      <li>
	<a href="{% url 'microblog:list' %}">Blog posts</a>
      </li>
      <li id="nav-username"><a href="{% url 'userprofile.views.profile' %}">
        <span class="glyphicon glyphicon-user"></span>  {{ user.get_username }} &nbsp; </a>
      </li>
      <li>
        <a href="{% url 'django.contrib.auth.views.logout' %}">Sign out</a>
      </li>
    </ul>
  {% else %}
    <a class="btn btn-lg btn-success"
       href="{% url 'django.contrib.auth.views.login' %}">Sign in</a>
  {% endif %}
{% endblock %}


{% block content %}
    <div class="container">
      <div class="jumbotron">
	<div class="container">
          <h1>PAGE TITLE</h1>
          <p class="lead">Catchphrase about our website!</p>
	  <p><a href="{% url 'microblog:list' %}">View recently added posts, or search for that post you've been looking for!</a></p>

	    {% if not user.is_authenticated %}
            <p><a class="btn btn-lg btn-primary" 
		    href="{% url 'registration_register' %}">Register</a> 
	        &nbsp;
              <a class="btn btn-lg btn-success" 
		   href="{% url 'django.contrib.auth.views.login' %}">Sign in</a>
            </p>
	      {% endif %}
	    </div> <!-- /.container -->
	  </div> <!-- /.jumbotron -->
    </div> <!-- /.container -->
{% endblock content %}
