{% load static from staticfiles %}
{% load bootstrap3 %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}{% endblock %}</title>
    {% bootstrap_css %}
<!--    <link href="{% static 'css/custom.css' %}" rel="stylesheet"> -->
    <script src="{% static 'js/jquery-2.1.1.js' %}"></script>
    <script src="{% static 'js/ajax.js' %}"></script>
    <script type="text/javascript" src="{% static '/assets/django-ajax-master/django_ajax/static/django_ajax/js/jquery.ajax.min.js' %}"></script>
  </head>

<body>
  <div class="wrapper">
    <div class="navbar navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'permtest.views.home' %}">NAVBAR TITLE</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class=""><a href="{% url 'permtest.views.home' %}">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
          {% block nav_user %}
            {% if user.is_authenticated %}
              <ul class="nav navbar-nav navbar-right">
                <li id="nav-username"><a href="{% url 'permtest.views.profile">
                  <span class="glyphicon glyphicon-user"></span>  {{ user.get_username }} &nbsp; </a>
                </li>
                <li>
                  <a href="/accounts/logout">Sign out</a>
                </li>
              </ul>
            {% endif %}
          {% endblock %}
        </div><!--/.navbar-collapse -->
      </div>
    </div>

    <div id="sidebar">
      {% block sidebar %}{% endblock %}
    </div>
    <div id="content">
{% block content %}{% endblock %}
{% block main_content %}{% endblock %}
    </div>

  </div> <!-- wrapper -->

  <div id="page-footer">
    <div class="container">
        <footer>
	  <hr />
	  <p>django-registration demo using Bootstrap 3. This is a page footer!
	  <span class="glyphicon glyphicon-star"></span></p>
	    </footer>
    </div>
  </div>

  {% bootstrap_javascript jquery=True %}
</body>
</html>
